.newsBox {
	float: left;
	width: 770px;
	min-height: 300px;
	_height: 300px;
	margin: 0px 0px 10px 6px;
	border: 1px solid #E8E8E8;
}
.newsTitle {
	font-size: 20px;
	font-family: "微软雅黑";
	text-align: center;
	margin: 10px 0;
}
.newsInfo {
	color: #666;
	text-align: center;
	border-bottom: 1px dotted #666;
}
.newsContent {
	font-size: 14px;
	line-height: 30px;
	padding: 20px;
	text-indent: 2em;
}